.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Login,
.Signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.Login input,
.Signup input {
  margin: 10px;
  padding: 10px;
  width: 200px;
}

.Login button,
.Signup button {
  margin: 10px;
  padding: 10px;
  width: 220px;
  background-color: #61dafb;
  border: none;
  color: white;
  cursor: pointer;
}

.Login button:hover,
.Signup button:hover {
  background-color: #21a1f1;
}
